{{ 'bannersito.css' | asset_url | stylesheet_tag }}
sfds
<div class="Bannersito_MainContainer">
	<div class="Bannersito_InfoContainer">
		<span class="Banersito_subText">Get fit</span>
		<div class="Bannersito_BigText">Buy 2 pairs of shoes and get 1 for free</div>
		<a class="Bannersito_Button">Buy Now</a>
	</div>
	<div class="Banersito_ProductImgContainer">
		<img src="">
	</div>
</div>


{% schema %}
  {
    "name": "Bannersito",
    "settings": [],
	"presets": [
	  {
		"name": "Banersito"
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
