{% render 'bannersito_css', block: block, settings: settings %}

{% for block in section.blocks %}
<div class="Bannersito_MainContainer">
	<div class="Bannersito_InfoContainer">
		<div class="Banersito_subText">Get fit</div>
		<div class="Bannersito_BigText">Buy 2 pairs of shoes and get 1 for free</div>
      	<div class="Bannersito_ButtonWrapper"><a class="Bannersito_Button" href="https://damnhandsomegroomingco.com/">Buy Now</a></div>
	</div>
	<div class="Banersito_ProductImgContainer Bannersito_mask-{{ section.id}}"
                >
		<img src="{{ block.settings.promo_image | img_url: 'master' }}">
	</div>
</div>
{% endfor %}


{% schema %}
  {
    "name": "Bannersito",
    "settings": [],
	"blocks": [
	  {
		"type": "image",
		"name": "Promo Image",
		"settings": [
		  {
			"type": "image_picker",
			"id": "promo_image",
			"label": "Promo Image"
		  },
		  {
			"type": "select",
			"id": "mask",
			"label": "Image's mask",
			"options": [
			  {
				"value": "select",
				"label": "Select your mask"
			  },
			  {
				"value": "bubble1",
				"label": "Bubble1"
			  }
			],
			"default": "select"
		  }
		]
	  }
	],
	"presets": [
	  {
		"name": "Banersito"
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
