{% for block in section.blocks %}

{% render 'bannersito_css', block: block %}

<section class="Bannersito_LimitWrapper">
  <div class="Bannersito_MainContainer">
      <div class="Bannersito_InfoContainer">
          <div class="Banersito_subText">Get fit</div>
          <div class="Bannersito_BigText">Buy 2 pairs of shoes and get 1 for free</div>
          <div class="Bannersito_ButtonWrapper"><a class="Bannersito_Button" href="https://damnhandsomegroomingco.com/">Buy Now</a></div>
      </div>
      {% if block.settings.product_image %}
      <div class="Banersito_ProductImgContainer Bannersito_mask-{{ section.id}}">
          <img src="{{ block.settings.promo_image | img_url: 'master' }}">
      </div>
      {% endif %}
  </div>
</section>
{% endfor %}


{% schema %}
  {
    "name": "Bannersito",
    "settings": [],
	"blocks": [
	  {
		"type": "image",
		"name": "Promo Image",
		"settings": [
		  {
			"type": "header",
			"content": "Container"
		  },
		  {
			"type": "radio",
			"id": "background_style",
			"label": "Style of background",
			"options": [
			  {
				"value": "plain_color",
				"label": "Plain color"
			  },
			  {
				"value": "two_plain_colors",
				"label": "Two plain colors"
			  }
			],
			"default": "plain_color"
		  },
		  {
			"type": "color",
			"id": "plain_bg_color",
			"label": "Banner single background color",
			"default": "#fbfbfb"
		  },
		  {
			"type": "color_background",
			"id": "two_plain_colors",
			"label": "Banner single background color",
			"default": "linear-gradient(100deg, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 62%, rgba(232,226,210,1) 62%)"
		  },
		  {
			"type": "range",
			"id": "main_border_thickness",
			"label": "Border thickness",
			"min": 0,
			"max": 10,
			"unit": "px",
			"default": 0
		  },
		  {
			"type": "range",
			"id": "container_radius",
			"label": "Round corners",
			"min": 0,
			"max": 50,
			"unit": "px",
			"default": 0
		  },
		  {
			"type": "header",
			"content": "Button"
		  },
		  {
			"type": "color",
			"id": "button_bg_color",
			"label": "Button's color",
			"default": "#fc0"
		  },
		  {
			"type": "color",
			"id": "button_text_color",
			"label": "Button's text color",
			"default": "#5b5b5b"
		  },
		  {
			"type": "range",
			"id": "button_container_radius",
			"label": "Round corners",
			"min": 0,
			"max": 50,
			"unit": "px",
			"default": 0
		  },
		  {
			"type": "header",
			"content": "Image"
		  },
		  {
			"type": "checkbox",
			"id": "product_image",
			"label": "Enable product image",
			"default": true
		  },
		  {
			"type": "image_picker",
			"id": "promo_image",
			"label": "Promo Image"
		  },
		  {
			"type": "checkbox",
			"id": "fit_img_width",
			"label": "Fit image to banner height",
			"default": true
		  },
		  {
			"type": "range",
			"id": "custom_img_width",
			"label": "Image's width",
			"min": 10,
			"max": 100,
			"default": 100
		  },		  
		  {
			"type": "range",
			"id": "custom_left_position",
			"label": "Horizontal positioning",
			"min": -50,
			"max": 50,
			"default": 0
		  },
		  {
			"type": "range",
			"id": "custom_top_position",
			"label": "Vertical positioning",
			"min": -50,
			"max": 50,
			"default": 0
		  },
		  {
			"type": "range",
			"id": "content_width",
			"label": "Info content width",
			"min": 50,
			"max": 100,
			"default": 75
		  },
		  {
			"type": "header",
			"content": "Mask"
		  },
		  {
			"type": "select",
			"id": "mask",
			"label": "Image's mask",
			"options": [
			  {
				"value": "select",
				"label": "No mask"
			  },
			  {
				"value": "bubble1",
				"label": "Bubble1"
			  },
			  {
				"value": "stonehenge1",
				"label": "Stonehenge 1"
			  },
			  {
				"value": "stonehenge2",
				"label": "Stonehenge 2"
			  }
			],
			"default": "select"
		  },
		  {
			"type": "range",
			"id": "mask_size",
			"label": "Mask's size",
			"min": 50,
			"max": 150,
			"step": 10,
			"unit": "%",
			"default": 100
		  },
		  {
			"type": "range",
			"id": "mask_position_x",
			"label": "Horizontal mask position",
			"min": -10,
			"max": 10,
			"unit": "vw",
			"default": 0
		  },
		  {
			"type": "range",
			"id": "mask_position_y",
			"label": "Horizontal mask position",
			"min": -10,
			"max": 10,
			"unit": "vh",
			"default": 0
		  }
		]
	  }
	],
	"presets": [
	  {
		"name": "Banersito"
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
