.Bannersito_MainContainer{
  display: flex;
  max-width: 600px;
  background-color: #fbfbfb;
  border-radius: 5px;
  border: 1px solid black;
  margin: auto;
  padding: 10px;
}
.Bannersito_Button{
  background-color: #5b1b1b;
  padding: 13px 20px;
  color: white;
  font-weight:bold;
  text-transform: uppercase;
}
.Banersito_ProductImgContainer{
  height: 200px;
}
.Banersito_ProductImgContainer > img{
  height: inherit;
}