.Bannersito_MainContainer{
  display: flex;
  max-width: 600px;
  background-color: #fbfbfb;
  border-radius: 5px;
  border: 1px solid black;
  margin: auto;
  padding: 10px;
}
.Banersito_ProductImgContainer{
  height: 200px;
}
.Banersito_ProductImgContainer > img{
  height: inherit;
}